#boards {
  table {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
    vertical-align: center;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
  }

  th, td {
    border: 1px solid black;
  }      
}

#board {
  .board-header {
    position: relative;
    border-top: 1px solid #ccc;
    background: #f6f6f6;
    overflow: hidden;  
  }

  .board-body {
    border-top: 1px solid #ccc;
    padding: 15px;
    background: #fff;
  }

  .board-footer {

  }
}
