$border:#CDCDCD;

.board-root {
  width: 80%;
  margin: 0 auto;
}

.board-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid $border;
  vertical-align: center;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;

  th, td {
    font-size: 12px;
    padding: 5px;
    border: 1px solid $border;
  }
  th {
    background: #EFEFEF
  }
}

.board-paging {
  ul {
    list-style: none;
    text-align: center;
  }
  li {
    display: inline-block;
  }
}

.board-bottom {
  text-align: right;
}

.board-write-btn {
  padding: 5px 10px;
  border-radius: 3px;
  background: #FFFFFF;
  border: 1px solid $border;
}