.login-bar {
  display: flex;
  align-items: right;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);  
}
.login-name {
  margin: 0 10px;  
}
.login-btn {
  
}